name: Deploy Model to Cloud

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pip'
      - run: pip install -r requirements.txt
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Generate models
        run: bash ./contrib/prepare_dir.sh
      # See https://github.com/marketplace/actions/build-and-push-docker-images
      - uses: docker/build-push-action@v6
        with:
          context: .
          tags: ghcr.io/${{ github.repository }}:${{ github.sha }}
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
      - name: Deploy to Cloud
        if: github.ref == 'refs/heads/master'
        run: |
          echo "Deploying to Cloud..."
          # Thanks to https://github.com/marketplace/actions/deploy-to-render-current-commit-only
          # Added `-f` flag to curl to fail the step if deployment fails (instead of checking `/helath` because it takes too long time)
          curl -f -X POST "https://api.render.com/deploy/${{ secrets.CLOUD_TOKEN }}&imgURL=ghcr.io/${{ github.repository }}:${{ github.sha }}"
